body{
  background: #f4f4f4;
}

h1{
  font-size:1.5rem;
}



/* -----------------Navigation bar ---------------- */

.navbar{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-nav> li > a{
  padding-top: 6px !important;
  padding-bottom:0 !important;
  height: 33px;
}
.navbar .navbar-brand{
  margin: 0 25px;
}

.navbar .navbar-nav .navbar-right{
  margin: 0 25px;
}
.navbar .navbar-nav >.active > a{
  background-color: #c0392b;
}
/* -------------x----Navigation bar -----x----------- */

/*----------------- Header Section -------------------*/
  #header{
    background: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  #header .create{
    padding-top: 20px;
  }
  #header .container{
    padding-top: 15px;
  }
  .gear-icon{
    margin-bottom: 5px;
  }

/*------x--------- Header Section -----------x--------*/
/*------------------ breadcrumb ---------------------*/
  .breadcrumb{
    background: #cccccc;
    padding: 4px 4px;
    font-size: 1rem;
    color: #333333;
  }

/*----------x-------- breadcrumb ----------x-----------*/










@media only screen and (max-width: 991px) {
  .navbar .navbar-nav >.active > a{
    background-color: transparent;
  }
  .navbar .navbar-nav .navbar-right{
    margin: 0;
  }
}