body{
  background: #e0dede;
}

h1{
  font-size:1.5rem;
}



/* -----------------Navigation bar ---------------- */

.navbar{
  background-color: #162447;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-nav> li > a{
  padding-top: 6px !important;
  padding-bottom:0 !important;
  height: 33px;
}
.navbar .navbar-brand{
  margin: 0 25px;
  padding: 0px;
}

.navbar .navbar-nav .navbar-right{
  margin: 0 25px;
}
.navbar .navbar-nav >.active{
  background-color: #111b36;
}
/* -------------x----Navigation bar -----x----------- */

/*----------------- Header Section -------------------*/
  #header{
    background: #fcfcfc;
    color: #000000;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  #header .create{
    padding-top: 20px;
  }
  #header .container{
    padding-top: 15px;
  }
  .gear-icon{
    margin-bottom: 5px;
  }

/*------x--------- Header Section -----------x--------*/
/*------------------ breadcrumb ---------------------*/
  .breadcrumb{
    background: #cccccc;
    padding: 4px 4px;
    font-size: 1rem;
    color: #333333;
  }

/*----------x-------- breadcrumb ----------x-----------*/
 
/*--------------------- Main Section ------------------------*/

  #main .bg-danger{
    color: #f4f4f4;
  }
  #main .list-group > .active{
    background-color: #162447;
    border-color: #162447;
  }
  #main .list-group .gear-icon{
    color: #cccccc;
  }

  #main .card-header{
    background-color: #162447;
    color: #ffffff;
  }

  #main .col-set{
    padding: 0;
  }
  #main .card-body{
    text-align: center;
    padding: 20px 12px;
  }

  #main .card-right{
    padding-right: 16px;
  }
  #main .card-left{
    padding-left: 16px;
  }

  #main .jumbotron{
    padding: 16px;
    margin-bottom: 0;
  }

  #main .jumbotron .progress .progress-bar{
    background-color: #162447;
  }

  #main .user-card{
    margin-top: 16px;
  }

  #main table .button-bg{
    background-color:#162447;
    color: #ffffff;
  }

  #main table .button-bg:hover{
    background-color:transparent;
    color: #000000;
    border-radius: 4px;
    border-color: #363434;
  }
/*--------x------------ Main Section -------------x----------*/


/*-------------- page section-------------------*/
#main .page-filter{
  margin: 16px;
}

/*-------x------- page section--------x---------*/
/*--------------- login section ---------------------*/
  #login{
    margin-top: 30px;
  }
/*---x------x-- login section ---------x------x------*/

  /*-------------------- Footer -----------------------------*/
  #footer{
    background-color: #162447;
    color: #ffffff;
    text-align: center;
    padding: 24px;
    margin-top: 30px;
  }
  #footer p{
    margin: 0;
  }

/*------------------------ Modal ------------------------------*/

#addPage form .page-form-check{
  padding-bottom: 16px;
}
/*------------x------------ Modal --------------x----------------*/




@media only screen and (max-width: 991px) {
  .navbar .navbar-nav >.active > a{
    background-color: transparent;
  }
  .navbar .navbar-nav .navbar-right{
    margin: 0;
  }
}